<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Prueba</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body style="font-family: arial, helvetica; background: #F2D388;">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">A1D</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a  th:href="@{''(lang=es_es)}" th:text="#{lang.es}" class="nav-link">Spanish</a>
      </li>
      <li class="nav-item">
        <a th:href="@{''(lang=en_en)}" th:text="#{lang.en}" class="nav-link">English</a>
      </li>
      <li class="nav-item">
		<a th:href="@{''(lang=it_it)}" th:text="#{lang.it}" class="nav-link">Italian </a>
      </li>
    </ul>
  </div>
</nav>

        </center></ul><center><div>
            <h1 style="font-size: 5em; font-weight: bold;" th:text="#{titulo}">
                <font face="Courier New">
                <font color="black">
            Bienvenido a A1D </center><br><h4 th:text="#{descrip}"></font><hr>
            <center><font face="Consolas"><font color="#2D0162">
                "Somos una empresa llamada A1D nos encargamos de fabricar sistemas de ventas para<br>
                 tu tienda , este sistema de ayudara a poder controlar<br>
                  las ventas que tienes<br>
                  durante el dia y a la vez podras ver la cantidad de ganancia que obtienes el dia a dia."<hr><br><hr><br> </center>
                  </h4>


                  <div style="width: 100%; margin: 50px auto; color: rgb(32, 32, 32); padding: 15px;">
                    <img style="float: left; margin-right: 15px;" th:src="@{3.png}">
                    <aside>
                      <h1 style="font-size: 3em;">
                        <font face="Courier New">
                        <font color="#5300B0"><center>Te presentamos</center></font></font></h1></aside></div>
                        <h3 th:text="#{present}"><font face="Helvetica"><font color="#424343">
                     Te presentamos nuestra aplicacion innovadora que se trata de un sistema de ventas esta se
                      utiliza para que puedas facilitar la gestión de oportunidades en tus ventas y tu negocio,es muy  
                      <br> fácil de usar así mismo tiene un buen funcionamiento para que pueda cubrir las necesidades de tu negocio o 
                      empresa que necesita de este sistema muy importante e interesante.</aside>
                    <div style=" clear: both; background-color: yellow;"></div><br><br><br><br><br>
                  </div></font></font></h3>
                  
                  <div style="width: 100%; margin: 50px auto;color: rgb(32, 32, 32);padding: 15px;">
                    <img style="float: right; margin-left: 15px;" th:src="@{2.png}">
                    <aside>
                      <h1 th:text="#{ho}" style="font-size: 3em;">
                        <font face="Courier New">
                        <font color="#5300B0"><center>Ventajas del sistema de ventas</center></font></font></h1></aside></div>
                        <h3 th:text="#{hi}"><font face="Helvetica"><font color="#424343">
                          &nbsp &nbsp Son muchas las ventajas que un sistema de ventas les proporciona a las empresas. Veamos cuáles son las principales:
                          &nbsp &nbsp &nbsp Automatiza y organiza el trabajo de toda la empresa.Fomenta la colaboración entre los equipos para tomar mejores decisiones<br> 
                          <br><br></font></font></h3><br><br><br><br><br><br>
 
                    
                                       <div style="width: 100%; margin: 50px auto;color: rgb(32, 32, 32);padding: 15px;">
                                        <img style="float: left;margin-right: 15px;" th:src="@{1.png}">
                                        <aside>
                                          <h1 th:text="#{1}" style="font-size: 3em;">
                                            <font face="Courier New">
                                            <font color="#5300B0"><center>¿Sabes cómo vas a utilizar el software de ventas?</center></font></font></h1></aside></div>
                                            <h3  th:text="#{2}"><font face="Helvetica"><font color="#424343">
                                              Si eres autónomo o estás en una pequeña empresa, puede que no necesites un CRM desarrollado para un gran equipo con toda su parafernalia. La idea es enc
                                        <div style="clear: both;background-color: yellow;"></div><br><br><br>
                                      </div></font></font>
                                       <center><a href="#"><img src="https://dl.dropbox.com/s/7jhjk66n6266xls/arriba.png?dl=0"></a></li></center> 
                                       
                                       
    </div>
</body> 
</html>